.contenedor {
    text-align: center;
    margin-top: 20%;

}

.buscar {
width: 180px;
height: 50px;
margin: 10px;
border-radius: 30px;
text-align: center;
font-size: 25px;
background-color: #DCDCDC;
}

.nuevo {
width: 60px;
height: 60px;
margin-bottom: 10px;
border-radius: 100px;
background-color: #FF4500;
font-size: 35px;
color: white;
}

.crear {
width: 180px;
height: 50px;
margin-left: 10px;
background-color: #1E90FF;
color: white;
font-size: 20px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
box-shadow: 8px 25px 25px -12px black;
}

div {
    text-align: center;
}