* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#miBoton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #miBoton:hover {
    background-color:darkorchid;
  }