body {
    width: 850px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: crimson;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-left: 10px;
}

.logo {
    display: flex;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
}

.nav-links li a:hover {
   color: orange;
}

ul {
    display: flex;
    margin-left: 260px;
}