img {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.bloque1 {
    background-color: #ffd90f;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloque2 {
    background-color: #0cb7f2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloque3 {
    background-color: #ff751a;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
