#dojo {
    width: 1000px;
    height: 1000px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}